
<header class="p-3 border-bottom p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white-50 text-decoration-none fs-5">
          ProjetoRumos
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li class="nav-item">
            <a class="nav-link px-2 link-light active" aria-current="page" routerLink="/recipes">Receitas</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link px-2 link-light active" aria-current="page" routerLink="/profile">Perfil</a>
          </li>
        </ul>

        <div class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input
          class="form-control me-2 form-control form-control-lg" 
          type="search" 
          placeholder="Termo a Pesquisar..." 
          aria-label="Search" 
          [(ngModel)]="searchQuery">          
        </div>
        <a class="nav-link px-2 link-light active" [routerLink]="['/recipes/search', searchQuery]">Pesquisar</a>
        <div class="dropdown text-end">
          <a href="#" class="d-block link-light m-2 text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" *ngFor="let category of categories" routerLinkActive="active" routerLink="/recipes/{{category.categoryName}}">{{category.categoryName}}</a></li>
          </ul>
        </div>
        <div class="text-end">
            <a href="/login" type="button" class="btn btn-outline-light me-2 m-2" *ngIf="!isAuthenticated">Entrar</a>
            <button type="button" class="btn btn-outline-light me-2" *ngIf="isAuthenticated" (click)="onLogout()">Sair</button>
            <a href="/register" type="button" class="btn btn-warning" *ngIf="!isAuthenticated">Registar</a>
          </div>
      </div>
    </div>
  </header>